/* foo */
@font-face {
  font-family: calligraffiti;
  src: url(./fonts/calligraffiti.woff);
}

@font-face {
  font-family: Source Sans Pro;
  src: url(https://www.fontsquirrel.com/presentation/theme_site/fonts/source_sans_pro/sourcesanspro-bold-webfont.woff);
}

body {
  background-color: lightblue;
  font-family: calligraffiti;
}
